<!DOCTYPE html>
<html lang="en">
  <h1>Add Your Favourite Book</h1>
  <form action="/books/new" method="POST">
<label>Title:</label><input type="text" name="title"><br>
<label>Author:</label><input type="text" name="author"><br>
<label>Genre:</label><input type="integer" name="genre"><br>
<label>Price:</label><input type="text" name="price"><br>
<input type="submit" value="Submit" id="submit">
</form>
</html>