<!DOCTYPE html>
<html lang="en">
  <body>

  
 

<form action="/books/<%=@book.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Book">
</form>

</body>

<p><a href='/books/edit'> Edit this Book Details</a></p>

<a href="/books/new"> Add New Book </a><br>

<p><a href='/books'>See All Your Books</a></p>
<p><a href='/logout'>Log Out</a></p>

</html>